<div class="c-product-gallery">

  <div class="c-product-gallery__focus-image-container">

    {% for image in product.images %}
      {% capture wrapper_class %}
        {%- unless featured_image == image -%}
          hide
        {%- endunless -%}
      {% endcapture %}
      <div class="c-product-gallery__focus-image">
        {% include 'responsive-image' with
          image: image,
          max_width: 700,
          max_height: 700,
          image_attributes: "data-product-featured-image",
          wrapper_class: wrapper_class,
          image_class : 'c-product-gallery__img--focus'
          wrapper_attributes: "data-product-image-wrapper",
        %}
      </div>

    {% endfor %}
  </div>

  {% if product.images.size > 1 %}
    <ul class="product-gallery__list">
      {% for variant in product.variants %}
        <li class="product-gallery__item">
          <a href="{{ variant.url }}" data-variant-title="{{ variant.title }}">
            <img class="product-gallery__img" src="{{ variant.image.src | img_url: '160x160' }}" alt="{{ variant.title }}" title="{{ variant.title }}" data-variantLink="{{ variant.image.src | img_url: '900x900' }}" data-variantImage="{{ variant.image.src | img_url: '700x700' }}" data-variantTitle="{{ variant.title }}" data-variantId="{{ variant.id }}">
          </a>
        </li>

      {% endfor %}
    </ul>
  {% endif %}

</div>
