<div class="c-product-thumb{{ modClass }}">
  <!-- modclass {{ modClass }} ac-product-thumb.liquid -->

  {% include 'ac-product-gallery' %}

  <div class="c-product-thumb__info{{ modClass }}">
  <h4 class="c-product-thumb__heading">
    <span class="c-product-thumb__title">
      <a  id="linkBundleTitle" class="c-product-thumb__link-title" href="{{ product.url | within: collection }}">{{ product.title }}</a>
    </span>
  </h4>

    <div class="l-page__product-form">
      {% include 'ac-product-form' %}
    </div>

  </div>
</div>
