{%- assign current_variant = product.selected_or_first_available_variant -%}

{% assign add_to_cart_text = 'products.product.add_to_cart' | t  %}

{% if page.handle contains 'pair' %}
    {% assign productType = 'pair' %}
    {% assign productTypeHandle = 'pair-' %}
  {% else %}
    {% assign productType = 'single' %}
    {% assign productTypeHandle = 'single-' %}
{% endif %}

{% assign sizeGuides = 'knee,ankle,thigh,wrist,elbow,calf' %}
{% assign sizeGuideArray = sizeGuides | split : ',' %}
{% for id in sizeGuideArray %}
  {% if product.handle contains id %}
    {% assign sizeGuideId = id | prepend : productTypeHandle %}
  {% endif %}
{% endfor %}

<div class="c-product-form">
{% form 'product', product, data-product-form: '', data-product-handle: product.handle, data-enable-history-state: 'true', class:'c-product-form__form'%}

  <input type="hidden" name="id" value="{{ current_variant.id }}">

  <div class="c-product-form__product-price">
    {% include 'ac-product-form-price' %}
  </div>


  {% if current_variant.inventory_quantity < 1 and current_variant.inventory_policy == 'continue'  %}
    {% assign displayClass = 'is-shown'  %}
  {% else %}
    {% assign displayClass = 'is-hidden'  %}
  {% endif %}


  {% unless product.has_only_default_variant %}

    {% comment %}One option{% endcomment %}

    {% assign optionsCount = product.options_with_values | size %}
    {% if  optionsCount == 1 %}
      <div class="c-product-form__link--size-guide">
        <div class="c-btn--size-guide">
          <a class="c-btn__link--size-guide" data-ajax-id="/pages/size-guide-{{ sizeGuideId }}" data-remodal-ajax="product.handle" data-remodal-target="modalSizeGuide" href="#modalSizeGuide" data-remodal>
            <span class="c-btn__label--size-guide">Size & Fit Guide</span>
            <span class="c-btn__icon">
              {% include 'svg-icon' with {icon : 'icon-arrow-up'} %}
            </span>
          </a>
        </div>
        <div class="remodal" data-remodal-id="modalSizeGuide" data-remodal-options="hashTracking: false," >
          <button data-remodal-action="close" class="remodal-close"></button>
          <div class="remodal-ajax-content" data-ajax-content>
          <div class="c-size-guide__loading">
            Size Guide Loading...
          </div>
          </div>
        </div>
      </div>

      <div class="l-btn-group">


      {% for variant in product.variants %}
        {% if variant.available %}
        <div class="l-btn-group__btn">
          <div class="c-btn--product-radio {% if variant == product.selected_or_first_available_variant %} is-selected {% endif %}" data-sku="{{ variant.sku }}" data-variant-id="{{ variant.id}}" data-variant-qty="{{ variant.inventory_quantity }}" data-variant-policy="{{ variant.inventory_policy}}" data-variants="{{ variant.option1 | handle }};{{ variant.option2 | handle }};{{ variant.option3 | handle }}" value="{{ variant.id }}">{{ variant.title }}</div>
        </div>
          {% else %}
        <div class="l-btn-group__btn">
          <div class="c-btn--product-radio is-disabled" disabled="disabled">
            {{ variant.title }}
          </div>
        </div>
        {% endif %}
      {% endfor %}

      </div>
      {% else %}
        {% for option in product.options_with_values %}
          <div class="js c-product-form__options--multi">
            {% if forloop.index0 > 4 %}
              {% for value in option.values %}
                <div class="c-product-form__input-wrapper selector-wrapper">
                  <input class="c-product-form__input--{{ option.name | handle }}" type="radio" id="Option{{ option.position }}-{{ value }}" name="options[{{ option.name }}]" value="{{ value }}"{% if option.selected_value == value %} checked{% endif %}>
                  <label class="c-product-form__label--{{ option.name | handle }}" for="Option{{ option.position }}-{{ value }}">{{ value }}</label>
                </div>
              {% endfor %}
            {% else %}
              <div class="c-product-form__input-wrapper--select selector-wrapper">
                <label class="c-product-form__label--{{ option.name | handle }}" for="Option{{ option.position }}">
                  {{ option.name }}
                </label>
                <select
                    class="c-product-form__select--{{ option.name | handle}} single-option-selector"
                    id="Option{{ option.position }}"
                    name="options[{{ option.name | escape }}]"
                    data-js-product-form-select
                >
                  {% for value in option.values %}
                    <option
                        value="{{ value | escape }}"
                        {% if option.selected_value == value %}selected="selected"{% endif %}>
                      {{ value }}
                    </option>
                  {% endfor %}
                </select>
              </div>

              <select name="id" data-productid="{{product.id }}" id="productSelect" class="product-single__variants" style="display:none">
                {% for variant in product.variants %}
                  {% if variant.available %}

                    {% comment %}
                      Note: if you use option_selection.js, your < select > tag will be overwritten, meaning what you have inside <option> will not reflect what you coded below.
                    {% endcomment %}
                    <!--                 <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option> -->

                    <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" data-variant-id="{{ variant.id}}" data-variant-qty="{{ variant.inventory_quantity }}" data-variant-policy="{{ variant.inventory_policy}}" data-variants="{{ variant.option1 | handle }};{{ variant.option2 | handle }};{{ variant.option3 | handle }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
                  {% else %}
                    <option disabled="disabled">
                      {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                    </option>
                  {% endif %}
                {% endfor %}
              </select>

            {% endif %}
          </div>
        {% endfor %}
    {% endif %}

    <div class="c-product-form__note">
      <span>*Have you checked your size?</span>
    </div>
  {% endunless %}

  <noscript>
    <select name="id">
      {% for variant in product.variants %}
        <option
            {% if variant == current_variant %}selected="selected"{% endif %}
            {% unless variant.available %}disabled="disabled"{% endunless %}
            value="{{ variant.id }}"
            data-variant-qty="{{ variant.inventory_qty }}"
        >
          {{ variant.title }}
        </option>
      {% endfor %}
    </select>
  </noscript>

  <div class="c-product-form__input-wrapper--qty">
  <label class="c-product-form__label--qty" for="Quantity">{{ 'products.product.quantity' | t }}</label>
  <input class="c-product-form__input--qty" type="number" id="Quantity" name="quantity" value="1" min="1">
  </div>



  <div class="c-product-form__submit">
  <button
      class="c-btn--product-form-submit"
      type="submit"
      name="add"
      data-submit-button
      {% unless current_variant.available %}disabled="disabled"{% endunless %}>
        <span data-submit-button-text class="c-btn__link-label">
          {% if current_variant.available and current_variant.inventory_quantity > 0   %}
            {{ add_to_cart_text }}
            {% elsif current_variant.available and current_variant.inventory_management != 'shopify'  %}
            {{ add_to_cart_text }}
          {% elsif current_variant.inventory_quantity < 1 and current_variant.inventory_policy == 'continue'%}
            Pre-order
            {% else %}
            {{ 'products.product.sold_out' | t }}
          {% endif %}
        </span>
  </button>
  </div>

  <div class="c-product-form__link--product">
    <a href="{{ product.url | within: collection }}" >More Details & Size Guide</a>
  </div>

{% endform %}
</div>
