{% if templateProduct != nil %}
  <!-- templateProduct not nil -->
{% assign itemProduct = templateProduct %}
{% else %}
  <!-- templateProduct nil -->
{% assign itemProduct = product %}
{% endif %}

<!-- render acstk-item-thumb.liquid -->
{% if itemProduct.featured_image != blank %}
  {% assign productFeatuerImage = itemProduct.featured_image %}
  {% else %}
  {% assign  productFeatuerImage = images['product-fallback.png'] %}
{% endif %}

{% assign titleThumb = itemProduct.metafields.global.title_thumb %}
{% if titleThumb != blank %}
  {% assign productTitle = titleThumb %}
{% else %}
  {% assign productTitle = itemProduct.title %}
{% endif %}

{% comment %}
  Check if this collection is singles or pairs
{% endcomment  %}

{% if collection.handle contains 'single' or collection.title contains 'single' %}
  {% assign productType = "Single" %}
  {% elsif collection.handle contains 'pairs' or collection.title contains 'pairs' %}
  {% assign productType = "Pair" %}
{% endif %}

{% comment %}
  Check if the product is in collection singles or pairs
{% endcomment  %}

{% assign productCollectionsTitle = itemProduct.collections | map: "title" %}
{% assign productCollectionsHandle = itemProduct.collections | map: "handle" %}
{% assign productCollections = productCollectionsTitle | prepend : productCollectionsHandle %}
    {% if productCollections contains "singles" or productCollections contains "Singles" %}
      {% assign productType = "Single" %}
      {% elsif productCollections contains "pairs"  or productCollections contains "Pairs" %}
        {% assign productType = "Pair" %}
{% endif %}
<div class="c-item-thumb--product">
  <div class="c-item-thumb__featured-image">
    <a href="{{ itemProduct.url | within: collection }}" class="c-item-thumb__image-link">
      <div class="c-featured-image--collection">
        {% include 'responsive-image' with
          image: productFeatuerImage,
          max_width: 700,
          max_height: 700
        %}
      </div>

    </a>
    {% if template == 'collection' %}
    <div class="c-item-thumb__quick-cart">
      <div class="c-quick-cart">
        <div class="c-quick-cart__controls">
          <a href="#modalQuickCart{{ itemProduct.id }}" class="c-quick-cart__control--quick-cart">Quick Buy</a>
        </div>
        <div class="remodal" data-remodal-id="modalQuickCart{{ itemProduct.id }}">
          <button data-remodal-action="close" class="remodal-close"></button>
          {% assign prodClassModifier = "--q-cart" %}
          {%  include "ac-product-remodal" %}
        </div>
      </div>
    </div>
    {% endif %}
    </div>
    <div class="c-item-thumb__info">
      <h5 class="c-item-thumb__heading">

        <a href="{{ itemProduct.url | within: collection }}" class="c-item-thumb__heading-link">
        <span class="c-item-thumb__title">{{ productTitle }}</span>
        {% if productType != blank %}
        <span class="c-item-thumb__title-type">({{  productType }})</span>
        {% endif %}
        </a>
      </h5>
      <div class="c-item-thumb__price" >
        {% if itemProduct.compare_at_price > itemProduct.price %}

          {% if itemProduct.price_varies %}
            {%- assign sale_price = itemProduct.price | money -%}
            <div class="c-item-thumb__price-label--current" >{{  sale_price }}</div>
            <div class="c-item-thumb__price-label--compare" >{{ itemProduct.compare_at_price | money}}</div>
          {% else %}
            <div class="c-item-thumb__price-label--current" >{{ itemProduct.price | money }}</div>
            <div class="c-item-thumb__price-label--compare" >{{ itemProduct.compare_at_price | money}}</div>
          {% endif %}
        {% else %}
          {% if itemProduct.price_varies %}
            {%- assign price = itemProduct.price | money -%}
            {{ 'products.product.from_text_html' | t: price: price }}
          {% else %}
            {{ itemProduct.price | money }}
          {% endif %}
        {% endif %}
      </div>
    </div >


</div>
