<div class="add-form" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
  <meta itemprop="priceCurrency" content="{{ shop.currency }}">
  <meta itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
  <link itemprop="availability" href="http://schema.org/{% if current_variant.available %}InStock{% else %}OutOfStock{% endif %}">

  <form class="add-form__form shapp_qb_prod" action="/cart/add" method="post" enctype="multipart/form-data">

    <div class="add-form__qty{{ afClassModifier }}">
      <label class="add-form__label{{ afClassModifier }}" for="Quantity">{{ 'products.product.quantity' | t }}</label>

      {%- assign low_price = settings.low_price_product | times: 1  -%}
      {%- assign low_price_2 = settings.low_price_product_2 | times: 1  -%}
      {%- assign low_price_3 = settings.low_price_product_3 | times: 1  -%}
      {%- assign pTypeMinimums = 'Clothing' -%}
      {%- assign pTypeMinQty = 2 -%}
      {%- assign pTypeMinimums2 = 'Handbags' -%}
      {%- assign pTypeMinQty2 = 1 -%}
      {%- assign pType = product.type -%}
      {%- assign varInvQty = current_variant.inventory_quantity | times : 1 -%}

      <!-- Check stock levels test 123 -->
      {%- if current_variant.inventory_management == "shopify" and current_variant.inventory_policy != "continue" -%}
        <!-- We have {{ current_variant.inventory_quantity }} in stock. -->
      {%- else -%}
        <!-- This product is available. -->
      {%- endif -%}

      {%- if current_variant.price >  low_price -%}
        {% comment %}
          if the variant price is greater than the low price, allow single purchases
        {% endcomment %}
        {%- assign minQty = 1 -%}
        {%- assign minLowPriceQty = 1 -%}
        <!-- The variant price is greater than the low price, allow single purchases -->
        {% if current_variant.price > low_price %}
          <!-- TRUE -->
          <!-- {{ current_variant.price }}  > {{ low_price }} -->
        {% endif %}

        {%- elsif current_variant.price < low_price_3 -%}
        {% comment %}
          if the variant price is less than the very low price 3, set the minQty accordingly
        {% endcomment %}
        {%- assign minQty = settings.low_cost_minimum_qty_3 | times: 1 -%}
        {%- assign minLowPriceQty = settings.low_cost_minimum_qty_3 -%}
        {%- assign qty = settings.low_cost_minimum_qty_3 -%}
        <!-- The variant price is less than the very low price 3, set the minQty accordingly -->
        <!-- 2 current_variant.price < low_price_3 : {{ current_variant.price }}  < {{ low_price_3 }} -->

        {%- elsif current_variant.price < low_price_2 -%}
        {% comment %}
          if the variant price is less than the very low price 2, set the minQty accordingly
        {% endcomment %}
        {%- assign minQty = settings.low_cost_minimum_qty_2 | times: 1 -%}
        {%- assign minLowPriceQty = settings.low_cost_minimum_qty_2 -%}
        {%- assign qty = settings.low_cost_minimum_qty_2 -%}
        <!-- The variant price is less than the very low price 2, set the minQty accordingly -->
        <!-- 3 current_variant.price < low_price_2 : {{ current_variant.price }}  < {{ low_price_2 }} -->

      {%- else -%}
        {% comment %}
          if the variant price is less than the low price and greater than the very low price, set the minQty accordingly
        {% endcomment %}
        <!-- 4 current_variant.price < low_price : {{ current_variant.price }}  < {{ low_price }} -->
        <!-- 5 current_variant.price > low_price_2 : {{ current_variant.price }}  > {{ low_price_2 }} -->
        {%- assign minQty = settings.low_cost_minimum_qty | times: 1 -%}
        {%- assign minLowPriceQty = settings.low_cost_minimum_qty -%}
        {%- assign qty = settings.low_cost_minimum_qty -%}
      {%- endif -%}

      {%- if minLowPriceQty == 1 -%}
        {% comment %}
          if High price item (min qty 1) check ...
        {% endcomment %}
        <!-- pType = {{ pType }} -->
        {%- if pTypeMinimums contains pType -%}
          {%- if current_variant.price < 1000 -%}
            {%- assign minQty =  pTypeMinQty | times: 1 %}

            <!-- pTypeMinQty assigned {{ pType }} - {{ pTypeMinimums }} - {{ minQty }} -->
          {%- endif -%}
        {%- else -%}
          <!-- pTypeMinQty NOT Assigned {{ pType }} - {{ pTypeMinimums }}-->
        {%- endif -%}
      {%- endif -%}
      <!-- pType = {{ pType }} -->
      <!-- testing -->

      {%- if varInvQty < minQty -%}
        {%- assign minQty = varInvQty -%}
      {%- endif -%}


      {%- if product.tags contains 'clearance10for10' -%}
        {%- assign minQty = 10 -%}
        {%- elsif product.tags contains 'clearance5for10' -%}
        {%- assign minQty = 5 -%}
        {%- elsif product.tags contains 'clearance3for10' -%}
        {%- assign minQty = 3 -%}
        {%- elsif product.tags contains 'clearance2for10' -%}
        {%- assign minQty = 2 -%}
      {%- endif -%}

      {%- if varInvQty < minQty -%}
        {%- assign minQty = varInvQty -%}
      {%- endif -%}

      {% if template contains 'product' %}
        <!-- This is a product -->
        {% assign qtyId = 'Quantity' %}
      {% else %}
        <!-- this is not a product -->
        {% assign qtyId = 'Quantity' | append : variant.id %}
      {% endif %}

      {% if product.metafields.global.youtube_url_product %}
        {% assign videoUrlArray =  product.metafields.global.youtube_url_product | split: '/' %}
        {% assign youtubeId =  videoUrlArray | last %}
      {% else %}
        <!-- No video URL -->
      {% endif %}

      <!-- Quantity Input Field -->
      <input class="add-form__qty-input"
             data-type-min="{{ pTypeMinQty }}"
             data-low-price-min="{{ minLowPriceQty }}"
             data-min-qty="{{ minQty }}"
             type="number"
             data-qty-id="Quantity"
             data-product-id="{{ product.id }}"
             id="{{ qtyId }}"
             name="quantity"
             value="{{ minQty }}"
             min="{{ minQty }}"
             step="{{ minQty }}">
    </div>
    <div class="add-form__price-wrapper{{ afClassModifier }}">
      <div data-price-wrapper>
        <span class="add-form__price{{ afClassModifier }}" data-product-price>
          {{ current_variant.price | money }}
        </span>

        {% if bold_compare_at_price_max > bold_price %}
          <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
          <span data-compare-price>
            {% if current_variant.compare_at_price > current_variant.price %}
              {{ current_variant.compare_at_price | money }}
            {% endif %}
          </span>
        {% endif %}
      </div>
    </div>

    <div class="add-form__variants{{ afClassModifier }}">
      {% include 'bold-variant' with variant, hide_action: 'skip' %}
      {% assign afvClassModifier = afClassModifier %}
      {% include 'add-form-variants' %}
      {% assign varCount = 0 %}
      {% for variant in product.variants %}
        {% unless variant.title contains '+'  %}
        {% assign varCount = varCount | plus : 1 %}
        {% endunless %}
      {% endfor %}
      <!-- varCount {{ varCount }} -->
      <select {% if varCount == 0 %} style="display: none" {% endif %} id="ProductSelect-{{ section.id }}" data-section="{{ section.id }}" name="id" class="add-form__variants no-js" data-product-select>
        {% if varCount > 0 %}
          {% for variant in product.variants %}
            {% unless variant.title contains '+' %}
              <option class="c-input__option--multi"
                      {% if variant == current_variant %}selected="selected"{% endif %}
                  {% unless variant.available %}disabled="disabled"{% endunless %}
                      value="{{ variant.id }}"
                      data-option-name="{{ variant.title }}"
                      data-image-id="{{ variant.image.id }}">
                {{ variant.title }}
              </option>
            {% endunless %}
          {% endfor %}
        {% else %}
          {% assign variant = product.variants.first %}
          <option class="c-input__option--var-0"
                  {% if variant == current_variant %}selected="selected"{% endif %}
              {% unless variant.available %}disabled="disabled"{% endunless %}
                  value="{{ variant.id }}">
            {{ variant.title }}
          </option>
        {% endif %}
      </select>
    </div>

    <div class="add-form__description test {% if product.description != '' %} rte {% endif %}">
      {% include 'sales-description'%}
    </div>

    <div class="add-form__continue-shopping-helper">
      {% include 'continue-shopping-helper' %}
    </div>

    {% if youtubeId %}
      <div class="c-product-form__link--product-video">
        <div class="c-btn--product-video">
          <a class="c-btn__link--product-video" data-ajax-id="/pages/size-guide-{{ youtubeId }}" data-remodal-lazy-youtube="{{ youtubeId }}" data-remodal-target="modalProductVideo" href="#modalProductVideo" data-remodal>
            <img class="c-btn__img-thumb" src="{{ 'tpd-video-placeholder.jpg' | asset_img_url: '300x' }}" />
            <span class="c-btn__label--product-video">View Product Video</span>
          </a>
        </div>
        <div id="modalProductVideo" class="remodal remodal--product-video" data-remodal-id="modalProductVideo" data-remodal-options="hashTracking: false," >
          <button data-remodal-action="close" class="remodal-close"></button>
          <div class="remodal-ajax-content" data-ajax-content>
            <div class="c-size-guide__loading">
              <div class="l-page__size-guide-video">
                <iframe width="173" height="315" data-src="https://www.youtube.com/embed/{{ youtubeId }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}

    <div class="add-form__submit-wrapper">
      <button class="add-form__submit-btn{{ afClassModifier }}"
              type="submit"
              name="add"
              data-add-to-cart
              {% unless current_variant.available %}disabled="disabled"{% endunless %}>

          <span data-add-to-cart-text >
            {% if current_variant.available %}
              {{ 'products.product.add_to_cart' | t }}
            {% else %}
              {{ 'products.product.sold_out' | t }}
            {% endif %}
          </span>

      </button>
      <div class="add-form__reminder-btn{{ afClassModifier }}" id="ISR_button">In Stock Reminder</div>

    </div>
    <div id="smartwishlist" data-product="{{ product.id }}" data-variant="{{ product.variants.first.id }}"></div>

    {% if customer.tags contains 'platinum' %}
      {% unless qb_loaded == 'true' %}
        <div class="add-form__bqb">
          <h3 class="add-form__bqb-title"><span class="add-form__bqb-title-platinum">Platinum</span> <small>(Bulk Discounts)</small></h3>
          <div class="shappify-qty-msg">
            {{bold_selected_or_first_available_variant.metafields.shappify_qb.pricing_html}}
          </div>
          {% assign qb_loaded = 'true' %}
        </div>
      {% endunless %}
    {% endif %}
  </form>
</div>
