<div class="l-main__page--cart l-main__page{{ page.title | handle }}">

  <div class="l-page--cart l-page--{{ page.title | handle }}">


{% if cart.item_count > 0 %}
  <header class="l-page__header--cart">
    <h1 class="l-page__heading--cart">
      <span class="l-page__title--cart">Cart</span>
    </h1>
  </header>
<div class="l-page__cart">
  <div class="c-cart">
    <form action="/cart" method="post" novalidate class="cart ajaxcart c-cart__form">
      <div class="c-cart__cart-list">
        <div class="cart-content">
          <div class="c-cart-list__header">
            <div class="c-cart-list__header-content">
              <h4 class="c-cart-list__heading">Product</h4>
              <h4 class="c-cart-list__heading">Quantity</h4>
              <h4 class="c-cart-list__heading">Total</h4>
            </div>
          </div>

          <ul class="c-cart-list__list">
            {% for item in cart.items %}

              {% assign titleThumb = item.product.metafields.global.title_thumb %}
              {% if titleThumb != blank %}
                {% assign productTitle = titleThumb %}
              {% else %}
                {% assign productTitle = item.product.title %}
              {% endif %}

              {% comment %}
                Check if the product is in collection singles or pairs
              {% endcomment  %}

              {% assign productCollections = item.product.collections | map: "handle" %}
              {% if productCollections contains "singles" %}
                {% assign productType = "Single" %}
                {% elsif productCollections contains "pairs" %}
                {% assign productType = "Pairs" %}
              {% endif %}

              <li class="l-cart-list__item">
                <div class="l-cart-list__item-thumb">
                  <div class="c-item-thumb--cart-product">

                    <div class="c-item-thumb__feature-image--cart-product">

                      <img class="c-item-thumb__img--cart" src=" {{ item | img_url: '240x240'}}" alt="{{ name }}">

                    </div>


                    {% comment %} <div class="c-item-thumb__content--cart-product"> {% endcomment %}

                      <h4 class="c-item-thumb__heading--cart-product">
                        <div class="c-item-thumb__title">
                          <a class="c-item-thumb__link-title" href="{{ item.url }}">
                            <span class="c-item-thumb__title">{{  productTitle }}</span>
                            {% if productType != blank %}
                              <span class="c-item-thumb__title-type">({{ productType }})</span>
                            {% endif %}
                          </a>
                        </div>
                        <div class="c-item-thumb__variant">



                          {% unless item.variant.title contains 'Default' %}
                            <span class="c-item-thumb__cart-note">*Have you checked your size?</span>
                            <!-- <a href="{{ item.url }}#modalSizeGuide" class="c-item-thumb__cart-link">Size Guide</a> -->

                            {% include 'ac-modal-size-guide-cart' %}


                            <div class="variant-label">
                              <span class="c-item-thumb__variant-label">Size : </span>
                              <span class="c-item-thumb__variant-title">{{ item.variant.title }}</span>
                            </div>
                          {% endunless %}

                          {% assign property_size = item.properties | size %}
                          {% if property_size > 0 %}
                            <div class="c-item-thumb__options">
                              {% for p in item.properties %}
                                {% unless p.last == blank %}
                                  <div class="c-item-thumb__option">{{ p.first }}: {{ p.last }}</div>
                                {% endunless %}
                              {% endfor %}
                            </div>
                          {% endif %}
                        </div>
                      </h4>

                      <div class="c-item-thumb__container--cart-product-qty">

                        <div class="c-item-thumb__qty">
                          <input type="number"
                                 class="c-item-thumb__input--qty"
                                 name="updates[]"
                                 id="updates_{{ item.key }}"
                                 value="{{ item.quantity }}"
                                 min="0"
                                 pattern="[0-9]*"
                                 aria-label="{{ 'cart.general.item_quantity' | t }}">
                          <div class="c-item-thumb__btn--cart-update">
                            <button type="submit" class="c-btn--cart-update" name="update">
                              <span>Update</span>
                            </button>
                          </div>
                        </div>
                        <div class="c-item-thumb__control--remove-text">
                          <div class="c-cart-remove cart-remove">
                            <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="">
                              remove
                            </a>
                          </div>
                        </div>



                      </div>

                      <div class="c-item-thumb__container--cart-product-price">
                        <span class="c-item-thumb__line-price-money">{{ item.line_price | money }}</span>
                      </div>

                      <div class="c-item-thumb__control--cart-product-remove">
                        <div class="c-cart-remove cart-remove">
                          <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="ajaxcart__qty-remove c-btn--cart-remove">
                            {% include 'icon-close.liquid' %}
                          </a>
                        </div>
                      </div>


                    {% comment %} </div> {% endcomment %}

                  </div>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>

        <div class="c-cart___summary">
          <header class="c-cart___header--cart">
            <h4 class="c-cart___heading--cart">
              <span class="c-cart___title--cart">Order Summary</span>
            </h4>
          </header>
{%  comment %}
          <div class="c-cart___notes">
            <label for="CartSpecialInstructions">Special instructions for Seller</label>
            <textarea name="note" id="CartSpecialInstructions">{{ cart.note }}</textarea>
          </div>
          {% endcomment %}

          <span class="c-cart___subtotal"><span>Subtotal:</span> <b class="carto">{{ cart.total_price | money }}</b></span>
          <div class="c-cart__checkout" >
            <button type="submit" class="c-btn--cart-submit" name="checkout" value>
              <i class="fa fa-lock"></i>
              <span class="c-btn__link-label">
        {{ 'cart.general.checkout' | t }}
          </span>
            </button>
          <div class="c-cart__user-info">
            <p>{{ settings.cart_user_info }}</p>
          </div>
          </div>

        </div>


      </div>

    </form>

  </div>
</div>

  <div class="l-page-after--cart">
    <div class="l-page-after__product-list">
      {% include 'ac-related-bundle-product' %}
    </div>
  </div>

{% else %}
  <h1>{{ 'cart.general.title' | t }}</h1>

  {% comment %}
  Cart empty state
  {% endcomment %}
  <div class="supports-cookies">
    <p>{{ 'cart.general.empty' | t }}</p>
    <p>{{ 'cart.general.continue_browsing_html' | t }}</p>
  </div>

  {% comment %}
  Cart no cookies state
  ---------------------
  Browser cookies are required to use the cart. If cookies aren't enabled in the
  browser a message is displayed prompting the user to enable them.
  {% endcomment %}
  <div class="supports-no-cookies">
    <p>{{ 'cart.general.cookies_required' | t }}</p>
  </div>
{% endif %}

  </div>
</div>
