<!-- collection.liquid -->
{%  include  'logic-access'%}
{%  include  'logic-customer'%}
{% paginate collection.products by 48%}
{% assign slide1 = images[collection.metafields.actpd.collection_slide_1] %}
{% assign slide2 = images[collection.metafields.actpd.collection_slide_2] %}
{% assign slide3 = images[collection.metafields.actpd.collection_slide_3] %}

{% assign slideUrl1 = collection.metafields.actpd.collection_slide_url_1 %}
{% assign slideUrl2 = collection.metafields.actpd.collection_slide_url_2 %}
{% assign slideUrl3 = collection.metafields.actpd.collection_slide_url_3 %}

  {%- capture slides -%}
    {%- unless slide1 == empty -%}
      {{ slide1 | img_url: '1270x465' }}
    {%- endunless -%}
    {%- unless slide2 == empty -%}
      {%- if slides != empty -%},{%- endif -%}
      {{ slide2 | img_url: '1270x465' }}
    {%- endunless -%}
    {%- unless slide3 == empty -%}
      {%- if slides != empty -%},{%- endif -%}
      {{ slide3 | img_url: '1270x465' }}
    {%- endunless -%}
  {%- endcapture -%}
  <!-- Slides 123 = {{ slides }} -->
  {% assign aSlides = slides | split: ',' %}
  <div class="collection">
    <div class="collection__breadcrumbs">
      {% assign BCClassModifier = "--collection"  %}
      {%  include "breadcrumbs" %}
    </div>

{% unless aSlides == empty or (aSlides.size == 1 and aSlides[0] == '') %}
    <div class="hero--collection">
      <div class="hero__carousel">
        {% if collection.image.src %}
        <div class="hero__cell">
          <img src="{{ collection.image | img_url: '1270x465' }}" alt="" class="hero__img">
        </div>
        {% endif %}
    {% for slide in aSlides %}
      <div class="hero__cell slide-c-{{ forloop.index }}">
        {% assign key =   "collection_slide_url_" | append:  forloop.index %}
        {% assign slideUrl = collection.metafields.actpd[key] %}
        {% if  slideUrl %}
          <a href="{{  slideUrl }}" class="hero__link">
          <img src="{{ slide }}" alt="" class="hero__img">
          </a>
          {% else %}
            <img src="{{ slide }}" alt="" class="hero__img">
        {% endif %}
        </div>
    {% endfor %}
      </div>
    </div>
    {% endunless %}

    {% if  aSlides == empty %}
    {% if collection.image.src %}
      <div class="l-page__feature-image--collection">
        {% include 'responsive-image' with
          image: collection.image,
          max_width: 1440,
          max_height: 600
        %}
      </div>
    {% else %}
      <!-- no collection image -->
    {% endif %}
    {% endif %}

    <div class="collection__flex">
      <div class="collection__sidebar">
        <div class="collection__filters">
          <div class="filter-menu__wrapper">
            <h3 id="filterButtonOpen" data-state="off" class="filter-menu__title" >Filters</h3>
          </div>
          <div class="filter-menu__container" id="filterContainer">
            {% include 'filter-menu' %}
          </div>
        </div>
      </div>
      <!-- Test theme -->
      <!-- collection handle {{ collection.handle }} -->
      <!-- blogs  -->
      {% assign headers_handel = 'collection-restricted-headers' %}
      {% assign headers_handel_path = headers_handel | append : '/' %}
      {% assign headers = blogs[headers_handel] %}
      {% assign custom_header = false %}
      {% for header in headers.articles %}
        {% assign header_handle = header.handle | remove : headers_handel_path %}
        <!-- headers_handel_path {{ headers_handel_path }}  -->
        <!-- header.handle  {{ header.handle }} -->
        <!-- header_handle  {{ header_handle }} -->
        {% if header_handle == collection.handle %}
          <!-- blog matches {{ header_handle }} -->
          <!-- image url {{ header.image  }} -->
          {% if  header.image %}
            {% assign custom_header = true %}
            {% assign custom_header_image = header.image %}

          {% else %}

          {% endif %}
        {% else %}
        {% endif %}
      {% endfor %}

      <div class="collection__main">


        {% if custom_header == false %}
          <header class="collection__header" role="banner">
            <h1 class="collection__heading">{% if current_tags contains 'sarah-tempest' %}<!-- Sarah Tempest -->Sarah Tempest {% else %}<!-- NOT Sarah Tempest -->{% endif %}{{ collection.title }}</h1>
          </header>
        {% else %}
          <header class="collection__header--custom" role="banner">
            <img  class="collection__img" src="{{ custom_header_image | img_url : 'original'}}" />
            <h1 class="collection__heading--custom">
              {% if current_tags contains 'sarah-tempest' %}
                <!-- Sarah Tempest -->
                Sarah Tempest
              {% else %}
                <!-- NOT Sarah Tempest -->
              {% endif %}
              {{ collection.title }}
            </h1>
          </header>
        {% endif %}

        <div class="collection__content">
          <!-- .collection__content -->
          {% if customerAccess == 'restricted' %}
            {% if collection.description != blank %}
              <div class="rte collection__description">
                {{ collection.description }}
              </div>
            {% endif %}
          {% endif %}


          {% unless customerAccess == 'full' %}

            <!-- Restricted Access -->
            <ul class="collection__list customerAccess-{{ customerAccess }} ">
              {% for product in collection.products | limit: 3 %}
                {% include 'bold-product' with product, hide_action: 'skip' %}
                <li class="collection__item--layout3">
                  {% include 'product-thumb-restricted' %}
                </li>

              {% else %}
                {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0 %}
                  {% for i in (1..8) %}
                    <a href="#">
                      {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                      {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}
                    </a>

                    <p>
                      <a href="#">{{ 'homepage.onboarding.product_title' | t }}</a>
                    </p>

                    <p>
                      {{ 1999 | money }}
                    </p>
                  {% endfor %}
                {% else %}
                  <p>{{ 'collections.general.no_matches' | t }}</p>
                {% endif %}

              {% endfor %}
            </ul>
            {% if customerAccess == 'restricted' %}
              <footer class="collection__footer">
                <div class="collection__wholesale-info">
                  <p>Do you want to buy wholesale clothes and jewellery? Sign in or <a href="/account/register">sign up</a> for an account now.</p>
                </div>

                {% include 'customer-login-form-login' %}
                {% include 'customer-login-form-recover' %}
              </footer>
            {% endif %}

            {% else %}
            <ul class="collection__list customerAccess-{{ customerAccess }}">
              {% for product in collection.products %}

                {% if product.available %}

                  {% include 'bold-product' with product, hide_action: 'skip' %}

                  <li class="collection__item--layout4">
                    {% include 'product-thumb' %}
                    {%  comment %}
                      {% include 'variant-thumb' %}
                    {% endcomment %}

                  </li>

                {% endif %}

              {% else %}
                {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0 %}
                  {% for i in (1..8) %}
                    <a href="#">
                      {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                      {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}
                    </a>

                    <p>
                      <a href="#">{{ 'homepage.onboarding.product_title' | t }}</a>
                    </p>

                    <p>
                      {{ 1999 | money }}
                    </p>
                  {% endfor %}
                {% else %}
                  <p>{{ 'collections.general.no_matches' | t }}</p>
                {% endif %}

              {% endfor %}
            </ul>
          {% endunless %}

          {% if customerAccess == 'inactive' %}
            {% include 'account-notice-inactive' %}
          {% endif %}

        </div>
        {% if customerAccess == 'full' %}
        <footer class="collection__footer">
          {% if paginate.pages > 1 %}
            {% include 'pagination' %}
          {% endif %}
        </footer>
      </div>
      {% endif %}
    </div>
  </div>
{% endpaginate %}

