{% assign hideTitle = collection.metafields.global.hide_title %}
{% assign collectionLogo = images[collection.metafields.global.logo] %}
{% assign featureImage = images[collection.metafields.global.feature_image_mobile] %}
{% assign collectionSeoTitle = collection.metafields.global.seo_title %}
{% assign collectionSubHeading = collection.metafields.global.sub_heading %}
{% assign filterMenuHandle = collection.metafields.global.filter_menu %}

{% if collectionSeoTitle != blank %}
  {% assign collectionTitle = collectionSeoTitle %}
{% else %}
  {% assign collectionTitle = collection.title %}
{% endif %}

{% assign collectionTitleLower = collection.title | downcase %}
{% if collectionTitleLower contains 'single' %}
  {% assign collectionType = "(Single)" %}
  {% elsif collectionTitleLower contains 'pair' %}
  {% assign collectionType = "(Pair)" %}
{% else %}
  {% assign collectionType = "" %}
{% endif %}



{% if collection.metafields.global.collection_header_logo %}
{% assign collectionHeaderLogo = images[collection.metafields.global.collection_header_logo] %}
{% endif %}
{% paginate collection.products by 12 %}
  <div class="l-main__page--collection">

    <div class="l-page--collection">
      <div class="l-page__header--collection">
        {% if collection.image.src %}
          <div class="l-page__feature-image--collection">
            {% include 'responsive-image' with
              image: collection.image,
              max_width: 1440,
              max_height: 600
            %}
          </div>
        {% else %}
          <!-- no collection image -->
        {% endif %}
        {% if featureImage != blank %}
          <div class="l-page__feature-image--collection-mobile">
            {% include 'responsive-image' with
              image: featureImage,
              max_width: 800,
              max_height: 600
            %}
          </div>
        {% endif %}

        <div class="collection-header-content-wrap">
          <header class="c-header--collection">
            <h1 class="c-header__heading--collection">
            <span class="c-header__title">{{ collectionTitle }}</span>
              {% if collectionType != '' %}
              <span class="c-header__type">{{ collectionType }}</span>
              {% endif %}
            </h1>
            {% if collectionSubHeading != blank %}
            <h4 class="c-header__sub-heading">
              {{ collectionSubHeading }}
            </h4>
            {% endif %}
          </header>
          {% if filterMenuHandle != blank %}
          <div class="l-page__nav-menu--collection-filter">
            <div class="c-nav-menu--collection-filter">
              <ul class="c-nav-menu__list--collection-filter">
                {% for link in linklists[filterMenuHandle].links %}
                  <li  class="c-nav-menu__item--collection-filter {% if link.active %}is-current{% endif %}" >
                    <a  class="c-nav-menu__link--collection-filter"  href="{{ link.url }}">{{ link.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          {% endif %}
        </div>
        {% comment %}
        <div class="l-page__tag-list">
          {% include 'ac-tag-list' %}
        </div>
        {% endcomment %}
      </div>
      <div class="l-page__collection-intro">
        {% if collection.description != blank %}
          <div class="l-page__content--collection">
            <div class="rte">
              {{ collection.description }}
            </div>
          </div>
        {% endif %}
      </div>


  <div class="l-page__product-list">
    <div class="l-product-list">

      <div class="l-product-list__list">
    {% for product in collection.products %}

      <div class="l-product-list__item is-product-id-{{ product.id }} u-bgc-{{ product.metafields.global.background }}">
        <div class="l-product-list__item-thumb">
          {% include 'acstk-item-thumb' %}
          <span class="stamped-product-reviews-badge stamped-main-badge" data-id="{{product.id}}" data-product-title="{{product.title}}" data-product-type="{{product.type}}" style="display: block;"></span>
        </div>
      </div>


    {% endfor %}
      </div>
    </div>
  </div>

  {% if paginate.pages > 1 %}
    {% include 'pagination' %}
  {% endif %}
    </div>
  </div>
{% endpaginate %}
