{% assign pageImage = page.metafields.global.feature_image %}
{% assign pageHeroImage = images[page.metafields.global.hero_image] %}
{% assign pageHeroText = page.metafields.global.hero_text %}
{% assign pageFooterText = page.metafields.block_footer.text %}
{% assign pageFooterButtonUrl = page.metafields.block_footer.button_url %}
{% assign pageFooterButtonText = page.metafields.block_footer.button_text %}
{% assign classBlockPadding = page.metafields.blocks.block_padding %}
{% assign classHeroBackground = page.metafields.global.hero_background %}
{% if page.metafields.global.page_handle %}
  {% assign pageHandle = page.metafields.global.page_handle %}
  {% else %}
    {% assign pageHandle = page.handle %}
{% endif %}


{% if page.metafields.global.hero_image %}
  {% assign classHeroImage = 'has-hero-image' %}
{% endif %}
{% if pageHeroText %}
  {% assign classHeroText = 'has-hero-text' %}
{% endif %}

<div class="l-main__page--static-page l-main__page--{{ page.title | handle }}">
  <div class="l-page--static-page l-page--{{ page.title | handle }}">
    <div class="l-page__header--static-page l-page__header--{{ page.title | handle }} {{ classHeroImage }} {{ classHeroText }} u-bgc-{{ classHeroBackground}}" role="banner">

<div class="c-header--static-page">

      <h1 class="c-header__heading--static-page l-page__heading--{{ page.title | handle }}" >
        <span class="c-header__title">{{ page.title }}</span>
      </h1>

</div>



    </div>



    <div class="l-page__content--static-page size-guide" data-ajax-content>
      {% if page.content != blank %}
        <div class="l-page__rte--static-page rte size-guide" >
          {{ page.content }}
        </div>
      {% endif %}

      <div class="l-page__size-guide-icon" >
      {% include 'svg-icon' {icon : 'icon-size-guide-single-knee'} %}
      </div>

    </div>

  </div>
</div>
