{% assign pageImage = page.metafields.global.feature_image %}
{% assign pageHeroImage = images[page.metafields.global.hero_image] %}
{% assign pageHeroText = page.metafields.global.hero_text %}
{% assign pageFooterText = page.metafields.block_footer.text %}
{% assign pageFooterButtonUrl = page.metafields.block_footer.button_url %}
{% assign pageFooterButtonText = page.metafields.block_footer.button_text %}
{% assign classBlockPadding = page.metafields.blocks.block_padding %}
{% assign classHeroBackground = page.metafields.global.hero_background %}
{% if page.metafields.global.page_handle %}
  {% assign pageHandle = page.metafields.global.page_handle %}
  {% else %}
    {% assign pageHandle = page.handle %}
{% endif %}


{% if page.metafields.global.hero_image %}
  {% assign classHeroImage = 'has-hero-image' %}
{% endif %}
{% if pageHeroText %}
  {% assign classHeroText = 'has-hero-text' %}
{% endif %}

<div class="l-main__page--static-page l-main__page--{{ page.title | handle }}">
  <div class="l-page--static-page l-page--{{ page.title | handle }}">
    <div class="l-page__header--static-page l-page__header--{{ page.title | handle }} {{ classHeroImage }} {{ classHeroText }} u-bgc-{{ classHeroBackground}}" role="banner">

<div class="c-header--static-page">

      <h1 class="c-header__heading--static-page l-page__heading--{{ page.title | handle }}" >
        <span class="c-header__title">{{ page.title }}</span>
      </h1>

</div>

    </div>



    <div class="l-page__content--static-page l-page__content--contact">
      {% if page.content != blank %}
        <div class="l-page__rte--static-page rte size-guide" >
          {{ page.content }}
        </div>
      {% endif %}
    </div>
    <div class="l-page-after--static-page l-page-after--contact">
      <div class="l-page-after__section">
        <div class="l-page-after__email">
          <h4 class="l-page-after__heading">Email</h4>
          <div class="l-page-after__content--email">
            <div class="l-page-after__btn--email">
              <a class="c-btn" href="mailto:{{ shop.email }}" ><span class="c-btn__label">Get in touch</span></a>
            </div>
          </div>
        </div>
        <div class="l-page-after__social">
          <h4 class="l-page-after__heading">Social</h4>
          <div class="l-page-after__content--social">
            {% if linklists['footer-social'].links.size > 0 %}
              <div class="l-page-after__nav-menu">
                <div class="c-nav-menu--contact">
                  <ul class="c-nav-menu__list--contact">
                    {% for link in linklists['footer-social'].links %}
                      <li  class="c-nav-menu__item--contact" >
                        <a  class="c-nav-menu__link--contact"  href="{{ link.url }}">
                          {% include 'icon-twitter' %}
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            {% endif %}
          </div>
        </div>
        <div class="l-page-after__location">
          <h4 class="l-page-after__heading">Location</h4>
          <div class="l-page-after__content--address">
            {{ shop.name }},
            {{ shop.address.summary }}
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
