<!doctype html>
<html>
<head>{% render 'pagefly-head' %}
  <!-- critical css -->
  {% include "ac-critical-css" %}
  <title>{{ page_title }}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="{{ page_description | escape }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  {{ content_for_header }} <!-- Header hook for plugins -->

 <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
              new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
          j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
          'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-N82HDTF');</script>
  <!-- End Google Tag Manager -->





  <!-- Google Console verification -->
  <meta name="google-site-verification" content="eIdB9QP0KPh_pS-t5ow6rRcRiDuy70PxLrpvsmmsXcU" />

  <meta name="google-site-verification" content="FLp3wHylTnau19hWSBC4djGhULOliv7lSxvAqdksRBc" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  {% if template.name == 'product' %}
<!-- Hotjar Tracking Code for https://getabearhug.com/ -->
  <script>
      (function(h,o,t,j,a,r){
          h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
          h._hjSettings={hjid:3072276,hjsv:6};
          a=o.getElementsByTagName('head')[0];
          r=o.createElement('script');r.async=1;
          r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
          a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
  </script>
  {% endif %}

  <script>(function(w,d,t,r,u){var f,n,i;w[u]=w[u]||[],f=function(){var o={ti:"137003992", enableAutoSpaTracking: true};o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")},n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function(){var s=this.readyState;s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)},i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)})(window,document,"script","//bat.bing.com/bat.js","uetq");</script>


</head>
<body id="siteBody" class="template-{{ template | handle }}" data-template="{{ template.name | handle }}" data-template-type="{{ template.suffix | replace : ' ', '_' | replace : '-', '_'}}">

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N82HDTF"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div style="display: none;">
  {% include "defs.svg" %}
</div>


<div id="page" class="l-site">

  <a class="u-hidden-visually" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

  {% section 'header' %}

  <div id="searchFormMain" class="l-site__site-search-form" data-state="off" data-container="siteSearch" >
    {% include 'ac-site-search-form' %}
  </div><!-- site-controls__search -->

  <main class="l-site__main" role="main" id="MainContent">
    <div class="l-main{{ modClass }}">
      {{ content_for_layout }}
    </div>
  </main>

  {% section 'footer' %}

</div>

<!-- ac test -->
<!-- ac-klaviyo-oos -->
{% include 'ac-klaviyo-oos' %}
<!-- / ac-klaviyo-oos -->

<!-- spurit_dmr_theme_snippet -->
{% if template.name != "index" %}
  {% render 'spurit_dmr_theme_snippet' %}
{% endif %}
<!-- / spurit_dmr_theme_snippet -->


<link rel="preload" href="{{ 'main.css' | asset_url }}" type="text/css" as="style" onload="this.onload = null; this.rel='stylesheet' ; "/>
<script src="{{ 'main.js' | asset_url }}" async></script>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
<script src="{{ 'lazysizes.min.js' | asset_url }}" async="async"></script>
{{ 'paymentfont.scss.css' | asset_url | stylesheet_tag }}

{% if template.name == 'product' and product.variants.size > 1 %}
<script>
  console.log("Disable the Add button")
    document.addEventListener('DOMContentLoaded', function() {
        var addButton = document.getElementById('add-to-cart-button');
        if(addButton){
            addButton.disabled = true; // Disable the button initially
        }

        var variantsContainer = document.getElementById('size-options-container');
        if(variantsContainer){
            variantsContainer.classList.add('disabled'); // Add 'disabled' class to the variants container
        }

    });
</script>
{% endif %}

{% if product %}
  <!-- klaviyo add to cart -->
  {% include 'ac-klaviyo-add-cart-event' %}
{% endif %}

</body>
</html>
