<!doctype html>
<html>
<head>
  <title>{{ page_title }}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="{{ page_description | escape }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  {{ content_for_header }} <!-- Header hook for plugins -->
  {{ 'main.css' | asset_url | stylesheet_tag }}
  {{ 'main.js' | asset_url | script_tag }}

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

  <script src="{{ 'lazysizes.min.js' | asset_url }}" async="async"></script>
</head>
<body id="siteBody" class="template-{{ template | handle }}" data-template="{{ template.name | handle }}" data-template-type="{{ template.suffix | replace : ' ', '_' | replace : '-', '_'}}">

<div style="display: none;">
  {% include "defs.svg" %}
</div>


<div id="page" class="l-site">
  <a class="u-hidden-visually" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

  {% section 'header' %}

  <div id="searchFormMain" class="l-site__site-search-form" data-state="off" data-container="siteSearch" >
    {% include 'ac-site-search-form' %}
  </div><!-- site-controls__search -->

  <main class="l-site__main" role="main" id="MainContent">
    <div class="l-main{{ modClass }}">
      {{ content_for_layout }}
    </div>
  </main>

  {% section 'footer' %}

</div>

</body>
</html>
