{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available when you add the "Image with text" section in the theme editor.

  Theme Store required settings
  - Image
  - Heading: title of the block
  - Text: description of the block

  Theme Store optional settings
  - Button label: label associated with the button
  - Button link: link of the button
{%- endcomment -%}

{%- assign block_layout =  section.settings.cb_layout -%}

<style>
  .l-main__content-block--{{ section.id }} .c-content-block__row{
    background-image: url({{ section.settings.block_background_image.src | image_url }});
  }
</style>
<section id="{{ section.settings.title | handle }}" class="l-main__content-block--{{ section.id }} " data-section-id="{{ section.id }}" data-section-type="content-block" >
  <div class="c-content-block">
    <div class="c-content-block__row u-bgc-{{ section.settings.block_background_colour  }} ">
      {% if section.settings.block_layout == '5050' %}
        {% for block in section.blocks %}
      <div class="c-content-block__col">
          <div class="c-content-block__content">
            {% if block.settings.content_title != '' %}
            <h2 class="c-content-block__heading">{{ block.settings.content_title }}</h2>
              {% else %}
              <!-- content_title removed -->
            {% endif %}
            {% if block.settings.content_image != blank %}
            <div class="c-content-block__image">
              {% include 'responsive-image' with
                image: block.settings.content_image,
                max_width: 800,
                max_height: 800
              %}
            </div>
            {% else %}
              <!-- content_image false -->
            {% endif %}
            {% if block.settings.content_body != '' or block.settings.content_body_html != '' %}
            <div class="c-content-block__body">
              {% if block.settings.content_body != '' %}
              <div class="c-content-block__rt">
                {{ block.settings.content_body }}
              </div>
              {% endif %}
              {% if block.settings.content_body_html != '' %}
              <div class="c-content-block__html">
                {{ block.settings.content_body_html }}
              </div>
              {% endif %}
            </div>
            {% else %}
              <!-- content_body and content_body_html removed -->
            {% endif %}
            {% if block.settings.content_btn_1_link != '' or block.settings.content_btn_2_link != '' %}
            <div class="c-content-block__footer">
              {% if block.settings.content_btn_1_link %}
              <div class="c-btn--cta-primary">
                <a href="{{ block.settings.content_btn_1_link }}" class="c-btn__link"><span class="c-btn__label">{{ block.settings.content_btn_1_label }}</span></a>
              </div>
              {% endif %}
              {% if block.settings.content_btn_2_link %}
              <div class="c-btn--cta-secondry">
                <a href="{{ block.settings.content_btn_2_link }}" class="c-btn__link"><span class="c-btn__label">{{ block.settings.content_btn_2_label }}</span></a>
              </div>
              {% endif %}
            </div>
            {% endif %}
          </div>
      </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Content Block",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Block Heading"
    },
    {
      "type": "checkbox",
      "id": "hide_title",
      "label": "Hide the block heading",
      "default": true
    },
    {
      "type": "select",
      "id": "block_layout",
      "label": "Block Layout",
      "default": "5050",
      "options": [
        {
          "value": "5050",
          "label": "50/50"
        }
      ]
    },
    {
      "type": "select",
      "id": "block_background_colour",
      "label": "Block Background Colour",
      "default": "1",
      "options": [
        {
          "value": "1",
          "label": "Brand Colour 1"
        },
        {
          "value": "2",
          "label": "Brand Colour 2"
        },
        {
          "value": "3",
          "label": "Brand Colour 3"
        },
        {
          "value": "t",
          "label": "Transparent"
        }
      ]
    }
  ,
    {
      "type": "image_picker",
      "id": "block_background_image",
      "label": "Block Background Image"
      }
  ],
  "blocks": [
    {
      "name": "Content Section",
      "type": "content",
      "settings": [
        {
          "type": "text",
          "id": "content_title",
          "label": "Content Title",
          "default": "Title"
        },
        {
          "type": "richtext",
          "id": "content_body",
          "label": "Content Body",
          "default": "<p>Add some basic text</p>"
        },
        {
          "type": "html",
          "id": "content_body_html",
          "label": "Content HTML",
          "default": "<p>Add some html code</p>"
        },
        {
          "type": "image_picker",
          "id": "content_image",
          "label": "Content image Image"
        },
        {
          "type": "text",
          "id": "content_btn_1_label",
          "label": "Button 1 Label",
          "default": "Shop Now"
        },
        {
          "type": "url",
          "id": "content_btn_1_link",
          "label": "Button 1 link"
        },
        {
          "type": "text",
          "id": "content_btn_2_label",
          "label": "Button 2 Label",
          "default": "Find Out More"
        },
        {
          "type": "url",
          "id": "content_btn_2_link",
          "label": "Button 2 link"
        }
      ]
    }
  ],
  "presets": [{
    "name": "Content Block",
    "category": "Content"
  }]
}
{% endschema %}
