<div class="l-main__page--article l-main__page--{{ article.title | handle }}">
  <div class="l-page--article l-page--{{ article.title | handle }}">
    <div class="l-page__header--article l-page__header--{{article.title | handle }}" role="banner">

      <header class="c-header--article">
        <h1 class="c-header__heading--article l-page__heading--{{ article.title | handle }}" >
          <span class="c-header__title">{{ article.title }}</span>
        </h1>
      </header>
      <div class="c-header__meta">{{ article.created_at | date: "%B %d, %Y" }}</div>
    </div>

    <div class="l-page__social-share-menu">

        {% include 'social-sharing', type: 'article', share_title: article.title, share_permalink: article.url, share_image: article.image %}

    </div>


    <div class="l-page__feature-image--article">
      {% include 'responsive-image' with
        image: article.image,
        max_width: 1440,
        max_height: 600,
        wrapper_class: 'c-featured-image__wrapper--article',
        image_class: 'c-featured-image__img--article'
      %}
    </div>


    <div class="l-page__content--article">
      {% if article.content != blank %}
        <div class="l-page__rte--article rte" >
          {{ article.content }}
        </div>
      {% endif %}

    </div>



  </div>
  <div class="l-page-after--blog">
    {% assign collection = collections['blog'] %}
    <div class="l-page-after__content--product-list">
      {{ collection.description }}
    </div>
    <div class="l-page-after__product-list">
      <div class="l-product-list">
        <div class="l-product-list__list">
          {% for product in collection.products limit:4 %}

            <div class="l-product-list__item is-product-id-{{ product.id }} u-bgc-{{ product.metafields.global.background }}">
              <div class="l-product-list__item-thumb">
                {% include 'acstk-item-thumb' %}
              </div>
            </div>


          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
