{%- assign footer_linklist = section.settings.footer_linklist -%}
{%- assign footer_help = 'footer-help' -%}
{%- assign footer_social = 'footer-social' -%}

{% capture powered_by_link %}
  <a href="https://ambercouch.co.uk">Shopify Development by - AmberCouch - Website Designer Wales</a>
{% endcapture %}

<footer class="l-site__footer">

<div class="l-footer">
  <div id="footer-header">
    <div class="l-footer__site-title">
      {% include 'ac-footer-logo' %}
    </div>
    <div class="l-footer__scroll-top">
      <a class="c-btn--scroll-top" href="#">
        <span class="c-btn__link">Back to top</span>
        <span class="c-btn__label">
          {% include 'icon-arrow-up'%}
        </span>
      </a>
    </div>
  </div>

  <div id="footer-content">
    <div id="footer-menus">
      {% if linklists[footer_linklist].links.size > 0 %}
        <div class="l-footer__nav-menu">
          <div class="c-nav-menu--footer">
            <h4 class="c-nav-menu__heading">Pages</h4>
            <ul class="c-nav-menu__list--footer">
              {% for link in linklists[footer_linklist].links %}
                <li  class="c-nav-menu__item--footer" >
                  <a  class="c-nav-menu__link--footer"  href="{{ link.url }}">{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      {% endif %}

      {% if linklists[footer_help].links.size > 0 %}
        <div class="l-footer__nav-menu">
          <div class="c-nav-menu--footer">
            <h4 class="c-nav-menu__heading">Help</h4>
            <ul class="c-nav-menu__list--footer">
              {% for link in linklists[footer_help].links %}
                <li  class="c-nav-menu__item--footer" >
                  <a  class="c-nav-menu__link--footer"  href="{{ link.url }}">{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      {% endif %}

      {% if linklists[footer_social].links.size > 0 %}
        <div class="l-footer__nav-menu">
          <div class="c-nav-menu--footer">
            <h4 class="c-nav-menu__heading">social</h4>
            <ul class="c-nav-menu__list--footer">
              {% for link in linklists[footer_social].links %}
                <li  class="c-nav-menu__item--footer" >
                  <a  class="c-nav-menu__link--footer"  href="{{ link.url }}">{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      {% endif %}
    </div>

    {% if section.settings.footer_newsletter_enable %}
      <div class="l-footer__subscribe-form">
        {% include 'ac-subscribe-form' %}
      </div>
    {% else %}
      <!-- NEWS LETTER DISABLED -->
    {% endif %}
  </div>

  {% if section.settings.show_payment_icons %}
    {% unless shop.enabled_payment_types == empty %}
      <span class="visually-hidden">{{ 'layout.footer.payment_methods' | t }}</span>
      <ul class="payment-icons">
        {% for type in shop.enabled_payment_types %}
          <li>
            {{ type | payment_type_svg_tag: class: 'icon' }}
          </li>
        {% endfor %}
      </ul>
    {% endunless %}
  {% endif %}

  <div class="l-footer__site-info">
    <div class="l-site-info">
    <span class="l-site-info__line--copy-right">{{ 'layout.footer.copyright' | t }} &copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: '/' }}. </span>
      {% if section.settings.site_info != blank %}
        <div class="l-site-info__line--additional">
          {{ section.settings.site_info }}
        </div>
        {% else %}
        <!-- no settings.site_info - {{ settings.site_info }} - -->
      {% endif %}
      <span class="l-site-info__line--powered-by" > {{ powered_by_link }}</span>
    </div>
  </div>

</div>

</footer>


{% schema %}
  {
    "name": "Footer",
    "settings": [
  {
  "type": "header",
  "content": "Footer Links"
  },
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "First menu",
        "default": "footer"
      },
      {
      "type": "checkbox",
      "id": "footer_newsletter_enable",
      "label": "Show newsletter signup",
      "default": false
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": false
      },
  {
  "type": "richtext",
  "id": "site_info",
  "label": "Site Info",
  "info": "Additional info for the footer"
  },
  {
  "type": "header",
  "content": "Footer Logo"
  },

  {
  "type": "image_picker",
  "id": "logo",
  "label": "Logo image"
  },
  {
  "type": "range",
  "id": "logo_max_width",
  "min": 50,
  "max": 450,
  "step": 10,
  "unit": "px",
  "label": "Custom logo width",
  "default": 250
  }
    ]
  }

{% endschema %}
