{% include 'bold-product' with product, hide_action: 'break' %}{% if bold_hidden_product %}{% break %}{%endif %}
<div data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true" itemscope itemtype="http://schema.org/Product">

  {%- assign current_variant = bold_selected_or_first_available_variant -%}
  {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

  <meta itemprop="name" content="{{ product.title }}{% unless current_variant.title == 'Default Title' %} - {{ current_variant.title }}{% endunless %}">
  <meta itemprop="url" content="{{ shop.url }}{{ current_variant.url }}">
  <meta itemprop="brand" content="{{ product.vendor }}">
  <meta itemprop="image" content="{{ featured_image | img_url: '600x600' }}">
  <meta itemprop="description" content="{{ product.description | strip_html | escape }}">

  <div class="product">
    <div class="product__breadcrumbs">
      {% assign BCClassModifier = "--product"  %}
      {%  include "breadcrumbs" %}
    </div>
    <div class="product__flex">
      <div class="product__header">
        <h1 class="product__heading" >{{ product.title }}</h1>
        <span class="product__sku">{{ bold_selected_or_first_available_variant.sku }}</span>
      </div>
      <div class="product__product-gallery">
        {% include 'product-gallery' %}
      </div>
      <div class="product__product-info">
        <div class="product__add-form">
          {% if template == 'product' %}
              {% include 'add-form' %}
            {% elsif template == 'product.voucher'%}
            {% include 'add-form-voucher' %}
          {% endif %}
        </div>

        <div class="product__share-links">
          {% include 'share-links'%}
        </div>

        <div class="l-single-product__tabbed-content">
          <div class="c-product-tabs">
            <div class="c-tabbed-content">
              <div class="c-tabbed-content__controls">
                {% if product.metafields.tpd.sizing_information %}
                <div class="c-tabbed-content__control" data-control-radio="product-tabs" data-state="on" data-control="tab-sizing"><span class="c-tabbed-content__label">Sizing</span></div>
                {% endif %}
                {% if product.metafields.tpd.material_information %}
                <div class="c-tabbed-content__control" data-control-radio="product-tabs" data-state="off" data-control="tab-material"><span class="c-tabbed-content__label">Material</span></div>
                {% endif %}
                {% if product.metafields.tpd.washing_information %}
                <div class="c-tabbed-content__control" data-control-radio="product-tabs" data-state="off" data-control="tab-washing"><span class="c-tabbed-content__label">Washing and Care</span></div>
                {% endif % %}
              </div>
              {% if product.metafields.tpd.sizing_information %}
              <div class="c-tabbed-content__tab" data-container-radio="product-tabs" data-state="on" data-container="tab-sizing">
                <div class="c-tabbed-content__content">
                  {{ product.metafields.tpd.sizing_information |  metafield_tag  }}
                </div>
              </div>
              {% endif %}
              {% if product.metafields.tpd.material_information %}
              <div class="c-tabbed-content__tab" data-container-radio="product-tabs" data-state="off" data-container="tab-material">
                <div class="c-tabbed-content__content">
                  {{ product.metafields.tpd.material_information |  metafield_tag  }}
                </div>
              </div>
              {% endif %}
              {% if product.metafields.tpd.material_information %}
              <div class="c-tabbed-content__tab" data-container-radio="product-tabs" data-state="off" data-container="tab-washing">
                <div class="c-tabbed-content__content">
                  {{ product.metafields.tpd.washing_information |  metafield_tag  }}
                </div>
              </div>
              {% endif %}

            </div>
          </div>

        </div>

      </div>
      {% include 'logic-admin' %}
      {% if adminUser %}
        <!-- Admin user -->
        <a style="color: #ddd" href="/admin/products/{{ product.id }}"><small>Edit this product</small></a>
      {% else %}
        <!-- Not Admin -->
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      }
    ]
  }
{% endschema %}
