{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available when you add "Collection list" section in the Theme Editor.

  Theme Store required settings
  - Heading: title of the collection list section
  - Collection
{%- endcomment -%}
<section class="l-content-section--collection-list">
  <div class="l-content-section__container">
    {% if section.settings.title != blank or section.settings.show_description == true %}
      <div class="l-collection-list__header {{ cssClassDescription }}">
        <header class="c-header--collection-list  {{ cssClassSubheading }} ">
          <h2 class="c-header__heading"><span class="c-header__title">{{ section.settings.title }}</span></h2>
          {% if section.settings.subtitle != blank %}
            <h3 class="c-header__heading--subtitle"><span class="c-header__title--subtitle">{{ section.settings.subtitle }}</span></h3>
          {% endif %}
        </header>
        {% if section.settings.description != blank %}
          <div class="l-collection-list__description">
            {{ section.settings.description }}
          </div>
        {% else %}
          <!-- Collection description disabled -->
        {% endif %}
      </div>
    {% endif %}

    {% if  section.blocks.size > 0 %}
    <div class="l-collection-list__product-list">
      <div class="l-product-list--featured-collection">
        <ul class="l-product-list__list">
  {% for block in section.blocks %}
    {% if block.settings.custom_collection_title != blank %}
    {% assign collection_title =  block.settings.custom_collection_title %}
      {% else %}
      {% assign collection_title = collection.title %}
    {% endif %}
    {%- assign collection = collections[block.settings.collection] -%}
          <li class="l-product-list__item is-item-count-{{ forloop.index }}">
            <div class="l-product-list__item-thumb">
              <div class="c-item-thumb--product">
    <a href="{{ collection.url | default: "#" }}" class="c-item-thumb__thumb-link " {{ block.shopify_attributes }}>
      {% if hide_collection_title != false %}
      {{ collection_title }}
      {% endif %}
      {% if collection.image != blank or collection.products.first != blank %}
        {%- assign image_object = collection.image | default: collection.products.first.featured_image -%}
        <div class="c-item-thumb__featured-image">
          <div class="c-featured-image--collection">
          {% include 'responsive-image' with
            image: image_object,
            max_width: 480,
            max_height: 480
          %}
        </div>
        </div>
         {% endif %}
    </a>
              </div>
            </div>
          </li>
  {% endfor %}
        </ul>
      </div>
    </div>

    {% endif %}

  {% if section.blocks.size == 0 %}
    {% include 'no-blocks' %}
  {% endif %}
  </div>
</section>

{% schema %}
  {
    "name": "Collection list",
    "max_blocks": 12,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Collection list"
      },
  {
  "type": "text",
  "id": "subtitle",
  "label": "Sub Heading"
  }, {
  "type": "richtext",
  "id": "description",
  "label": "Collection list description"
  }
    ],
    "blocks": [
      {
        "type": "collection",
        "name": "Collection",
        "settings": [
          {
            "label": "Collection",
            "id": "collection",
            "type": "collection"
          },
  {
  "label": "Collection title",
  "id": "custom_collection_title",
  "type": "text",
  "info": "Overide the collection title"
  },
  {
  "label": "Hide collection title",
  "id": "hide_collection_title",
  "type": "checkbox",
  "default": false,
  "info": "Hide the collection title"
  }
        ]
      }
    ],
    "presets": [
      {
        "name": "Collection list",
        "category": "Collection",
        "blocks": [
          {
            "type": "collection"
          },
          {
            "type": "collection"
          },
          {
            "type": "collection"
          }
        ]
      }
    ]
  }
{% endschema %}
