{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available in the "Featured Collection" section in the theme editor.

  Theme Store required settings
  - Collection

  Theme Store optional settings
  - Heading: title of the featured collection section
{%- endcomment -%}

{%- assign collection = collections[section.settings.collection] -%}

{% if section.settings.subtitle != blank %}
  {% assign cssClassSubheading = "has-subheading" %}
{% endif %}
{% if section.settings.description_override != blank %}
  {% assign  featureDescription = section.settings.description_override  %}
  {% elsif collection.description != blank %}
    {% assign  featureDescription = collection.description  %}
{% endif %}

{% if  section.settings.product_limit != blank %}
  {% assign productLimit = section.settings.product_limit %}
  {% else %}
  {% assign productLimit = all %}
{% endif %}
<section class="l-content-section--featured-collection">
  <div class="l-content-section__container">
<div class="l-featured-collection">
  {% if section.settings.title != blank or section.settings.show_description == true %}
    <div class="l-featured-collection__header {{ cssClassDescription }}">
      <header class="c-header--featured-collections  {{ cssClassSubheading }} ">
        <h2 class="c-header__heading"><span class="c-header__title">{{ section.settings.title }}</span></h2>
        {% if section.settings.subtitle != blank %}
          <h3 class="c-header__heading--subtitle"><span class="c-header__title--subtitle">{{ section.settings.subtitle }}</span></h3>
        {% endif %}
      </header>
      {% if section.settings.show_description == true and featureDescription != nil %}
        <div class="l-featured-collection__description">
          {{ featureDescription }}
        </div>
        {% else %}
        <!-- Collection description disabled -->
      {% endif %}
    </div>
  {% endif %}
  {% if collection.products_count > 0 %}
    <div class="l-featured-collection__product-list">
      <div class="l-product-list--featured-collection">
        <ul class="l-product-list__list">
          {% for product in collection.products limit: productLimit %}
            <li class="l-product-list__item s-item-count-{{ forloop.index }}">
              <div class="l-product-list__item-thumb">
                <div class="c-item-thumb--product">
                  <a href="{{ product.url | within: collection }}" class="c-item-thumb__thumb-link">
                    {% if product.featured_image != blank %}
                      <div class="c-item-thumb__featured-image">
                        <div class="c-featured-image--collection">
                          {% include 'responsive-image' with
                            image: product.featured_image,
                            max_width: 480,
                            max_height: 480
                          %}
                        </div>
                      </div>
                    {% endif %}
                    <div class="c-item-thumb__info">
                      <h5 class="c-item-thumb__heading"><span class="c-item-thumb__title">{{ product.title }}</span></h5>
                      <div class="c-item-thumb__price" >
                        {% if product.compare_at_price > product.price %}
                          {% if product.price_varies %}
                            {%- assign sale_price = product.price | money -%}
                            {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                          {% else %}
                            {{ 'products.product.on_sale' | t }}
                            {{ product.price | money }}
                          {% endif %}
                        {% else %}
                          {% if product.price_varies %}
                            {%- assign price = product.price | money -%}
                            {{ 'products.product.from_text_html' | t: price: price }}
                          {% else %}
                            {{ product.price | money }}
                          {% endif %}
                        {% endif %}
                      </div>
                    </div >

                  </a>
                </div>
              </div>
            </li>

          {% endfor %}
        </ul>
      </div>
    </div>

  {% endif %}
</div>
  </div>
</section>
{% schema %}
  {
    "name": "Featured collection",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured collection"
      },
  {
  "type": "text",
  "id": "subtitle",
  "label": "Sub Heading"
  },
      {
      "type": "checkbox",
      "id": "show_description",
      "label": "Show description?",
      "default": false
      },
      {
      "type": "richtext",
      "id": "description_override",
      "label": "Override the collection description",
      "info": "This text will override any text in the collection description"
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      },
  {
  "id": "product_limit",
  "type": "number",
  "label": "Product Limit",
  "info" : "Limit the number of products shown"
  }
    ],
    "presets": [
      {
        "name": "Featured collection",
        "category": "Collection"
      }
    ]
  }
{% endschema %}
